@model WebsiteBack.Models.ViewModels.VmDistrict
@{
    ViewBag.Title = "District";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="header">
        <h4 class="title">Add</h4>
    </div>
    <div class="content">
        @using (Html.BeginForm("Add", "District", FormMethod.Post, new { @id = "mainForm", enctype = "multipart/form-data", @autocomplete = "off", onSubmit = "return ValidateFormData()" }))
        {
            @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="Name">Division<sup>*</sup></label>
                    @Html.DropDownListFor(model => model.DivisionHeaderId, new SelectList(ViewBag.DivisionList, "Id", "Name"), "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.DivisionHeaderId, "", new { @class = "text-danger" })
                    @*<span id="spnDivisionHeaderId" class="text-danger" style="display:none;"></span>*@
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="Name">Name<sup>*</sup></label>
                    @Html.TextBoxFor(Model => Model.DistrictName, new { @class = "form-control", id = "DistrictName", @maxlength = "100", @placeholder = "District Name" })
                    @*<span id="spnDistrictName" class="text-danger" style="display:none;"></span>*@
                    @Html.ValidationMessageFor(Model => Model.DistrictName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
            <button type="submit" class="btn btn-info btn-fill pull-right">Save</button>
            <div class="clearfix"></div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">List</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="confirmation">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" style="text-align:center; font-size:30px; color:orangered">Delete Confirmation</h1>
            </div>
            <div class="modal-body" style="text-align:center;">
                <p><b>Are you surely want to delete this?</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger confirmed" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var oTable;
        $(document).ready(function () {
            oTable = $('#example').DataTable({
                "bprocessing": true,
                "bserverSide": true,
                "binfo": true,
                "bstateSave": true,
                "blengthMenu": [[10, 20, 50, "All"], [10, 20, 50, "All"]],
                "bpaging": true,
                "ajax": {
                    "url": "/District/AjaxTable"
                },
                "columns": [
                    { "data": "DistrictName" },
                    {
                        "title": "Action",
                        "render": function (data, type, row, meta) {
                            return '<a href="javascript:void(0)" class="delete"><i class="far fa-trash-alt"></i></a>';
                        }
                    }
                ],
                "order": [[1, "desc"]]
            });
        });

        //START
        //DELETE DATA
        $(function () {
            $('#example tbody').on('click', 'a.delete', function () {
                $('#confirmation').modal();
                var v = $(this).parent().parent();
                console.log(v);
                var rowData = oTable.row(v).data();
                console.log(rowData);
                id = parseInt(rowData.DistrictHeaderId);
                console.log(id);
            });
        });

        $(function () {
            $('#confirmation').on('click', '.confirmed', function () {
                $.get("/District/Disable/" + id, function (data) {
                    id = 0;
                    if (!data || typeof data === 'undefined' || data == "") {
                        debugger;
                        Swal.fire({
                            type: 'error',
                            position: 'top-end',
                            text: 'Could not delete because data in use elsewere. Please remove dependency to delete.',
                            showConfirmButton: false,
                            timer: 4000
                        });
                    }
                    else {
                        Swal.fire({
                            position: 'top-end',
                            type: 'success',
                            text: 'Deleted Successfully',
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                    setTimeout(function () {
                        oTable.ajax.reload();
                    }, 2300);
                });
            });
        });
        //END DELETE DATA
        function ValidateFormData() {
            var isValid = true;
            if ($("#DivisionHeaderId").val() == "" || $("#DivisionHeaderId").val() == null) {
                $("#spnDivisionHeaderId").text("Required");
                $("#spnDivisionHeaderId").show();
                isValid = false;
            }
            if ($("#DistrictName").val() == "" || $("#DistrictName").val() == null) {
                $("#spnDistrictName").text("Required");
                $("#spnDistrictName").show();
                isValid = false;
            }
            return isValid;
        }
        $("#DivisionHeaderId").on('change',function () {
            $("#spnDivisionHeaderId").hide();
        });
        $("#DistrictName").keypress(function () {
            $("#spnDistrictName").hide();
        });
    </script>
}
